nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 125px;
    padding-right: 125px;
    background-color: #1F2937;
}

nav .navigation {
    display: flex;
    list-style: none;
}

.navigation .link {
    padding: 8px;
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 67px 125px 75px 125px;
    background-color: #1F2937;
}

.hero-main-txt {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-subtext {
    color: #e5e7eb;
}

.hero-image {
    background-color: #e5e7eb;
    width: 500px;
    height: 200px;
}

.signup {

}

.hero-image {

}